* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    display: flex;
    align-items: center;
    padding: 50px;
    justify-content: space-between;
}

.img-iphone {
    width: 380px;
    margin-top: 10px;
    z-index: 2;
    animation: 2.5s cubic-bezier(.88,1.59,.5,-0.81) iphone-aparece;
}

main .div-principal h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

main .div-principal h3 {
    font-size: 40px;
    margin-bottom: 10px;
}

main .div-principal p {
    margin-bottom: 10px;
}

main .div-principal h6 {
    color: #626262;
    font-size: 20px;
    font-weight: 300;
    margin-top: 30px;
}

main .div-principal button {
    background-color: #0071e3;
    border-radius: 20px;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s ease-in-out all;
}

main .div-principal button:hover {
    background-color: #82b9f0;
}

main .div-principal button:active {
    background-color: #81A5C4;
}

main .div-principal h5 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

main .div-principal .conteudo {
    display: flex;
    margin-top: 10px;
    gap: 5px;
}

main .div-principal .conteudo span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#azul {
    background-color: #81A5C4;
}

#amarelo {
    background-color: #F7DA47;
}

#branco {
    background-color: #C1C1C1;
}

#preto {
    background-color: #272D33;
}

#vermelho {
    background-color: #B50012;
}

#roxo {
    background-color: #EDE7F1;
}

.circle {
    background-color: #81A5C4;
    clip-path: circle(600px at right 1000px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: 2.5s cubic-bezier(.88,1.59,.5,-0.81) circle-aparece;
}

@keyframes iphone-aparece {
    from {
        width: 0;
    }

    to {
        width: 380px;
    }
}

@keyframes circle-aparece {
    0% {
        clip-path: circle(0%);
    }

    40% {
        clip-path: circle(700px at right 1000px);
    }

    100% {
        clip-path: circle(600px at right 1000px);
    }
}